* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}
.outer-col-1 {
  background: #d7e8d4;
  flex: 1;
}
.outer-col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.inner-row {
  display: flex;
  flex-direction: row;
}
.inner-col {
  flex: 4;
}
.inner-row article {
  min-height: 60vh;
}
header,
footer {
  background: yellowgreen;
  height: 20vh;
}
header,
footer,
article,
nav,
aside {
  padding: 1em;
}
